
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= app.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- UI DESIGN SECTION (EXTERNAL CSS DEPENDENCIES) -->
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/custom.css">
		<!-- UI DESIGN SECTION (EXTERNAL CSS DEPENDENCIES) -->
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="/images/cherry-coin.png" alt="" width="72" height="72">
			<h2>Cherry-Coin</h2>
			<p class="lead">Cherry-Coin is a project in blockchain technologies to implement cryptocorrency. This project is created  by CS Students of Patan Multiple Campus for final year project.</p>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 mb-6" style="text-align: center;">
				<button class="btn btn-success btn-lg btn-block"  type="button">Become a Member</button>
			</div>
			<div class="col-md-6 col-sm-6 mb-6" style="text-align: center;">
				<a href="/home?param=FirstLoad">
				<button class="btn btn-primary btn-lg btn-block"  type="button">Let's get started</button>
			</a>
			</div>
		</div>
		

		<footer class="my-5 pt-5 text-muted text-center text-small">
				<p class="mb-1">&copy; 2017-2018 Cherry-Coin Project | Nepal</p>
				<ul class="list-inline">
						<li class="list-inline-item"><a href="#">Privacy</a></li>
						<li class="list-inline-item"><a href="#">Terms</a></li>
						<li class="list-inline-item"><a href="#">Support</a></li>
				</ul>
		</footer>
	</div>
	<!-- UI SCRIPTS SECTION (EXTERNAL JAVASCRIPT  DEPENDENCIES) -->
	<script>window.$ = window.jQuery = require('/jquery/jquery-3.3.1.min.js');</script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/custom.js"></script>
	<!-- UI SCRIPTS SECTION (EXTERNAL JAVASCRIPT DEPENDENCIES) -->
</body>
</html>